h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #31081f;
}
a {
  color: #6b0f1a;
  font-family: "Lucida Console", "Courier New", monospace;
  border-style: solid;
  background-color: #dce0d9;
}
a.highlight:hover {
  color: #808f85;
}
p {
  color: #595959;
  font-family: "Lucida Console", "Courier New", monospace;
}
img {
  width: 400px;
  height: 400px;
}
#darkRed {
  color: #31081f;
}
